:root{
    --celeste:#88E0EF;
    --celeste2:#CEE5D0;
    --azul:#161E54;
    --salmon:#FF5151;
    --naranja:#FF9B6A;
    --azulfuerte:#161E54;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    color: #000;
}
body{
    background-color: var(--celeste2);
}
.cont_container{
    display: grid;
    grid-template-areas: "foto" "titulo" ;
    margin: 20px;
}

.cont_tittle{
    grid-area: titulo;
    align-items: center;
    margin-top: 20px;
}

.cont_img{
    grid-area: foto;
    margin: auto;
}

body{
    display: grid;
    grid-template-areas: "op1" "op2" "op3";
}

.bg_animate{
    grid-area: op1;
}

main{
    grid-area: op3;
    
}


.cont_flex{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

.cont_flex a{
    text-align: center;
}
.header_nav{
    width: 100%;
    
    top: 0;
    left: 0;
} 
.header_nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-left: 20px;
}

.header_nav h1{
    line-height: 50px;
    color: #000;

}

.header_nav img{
    width: 50px;
    height: 50px;
}




.cont_tittle h2{
    color: #000;
    font-size: 60px;
    font-weight: 200;
    margin-left: 10px;
    text-align: left;
   
}

.cont_img{
    animation: none;
}

.mov1{
    animation: none;
}

.cont_img img{
    width: 500px;
    display: block;
    border-radius: 30px;
}

.targeta1{
    margin-top: 30px;
    height: 300px;
    width: 100%;
}
.targeta1_titulo{
    text-align: center;
}
.targeta1_target{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}
.contenedor-img-0{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px;
    height: 100px;
    width: 100%;
    margin: 10px;
}
.contenedor-img-0 img{
    height: 100%;
    width: 100%;
    
}

.contenedor-img {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px;
    height: 300px;
    width: 80%;
    margin: 10px;
}
.contenedor-img img{
    height: 50%;
    width: 50%;
    margin: auto;
}
.contenedor-img p{
    text-align: center;
}

.targeta1 h1,p{
    color: #000;
    padding: 3px;
}
a{
    text-decoration: none;
}
.contenedor-img a:hover{
    background: #8CA1A5;
    padding: 5px;
    border-radius: 10px;
}






@media only screen and (min-width: 1000px){
    .cont_container{
        display: grid;
        grid-template-areas: " titulo foto" ;
    }

    body{
        display: grid;
        grid-template-areas: "op1" "op2" "op3";
        background:var(--celeste2);
    }

    .cont_flex{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .targeta1_target{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        align-items: center;
    }
    .contenedor-img{
        padding: 20px;
        height: 300px;
        width: 100%;
        margin: 10px;
        background-color: var(--celeste2);
    }

    .contenedor-img img{
        height: 50%;
        width: 50%;
        background-color: var(--celeste2);
        
    }
    .cont_tittle{
        grid-area: titulo;
        align-items: center;
        margin-top: 0px;
    }
    .mov1{
        animation: mov1 2.5s linear infinite;
    }
    .cont_img{
        animation: movimiento 2.5s linear infinite;
    }
    @keyframes movimiento{
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(80px);
        }
        100%{
            transform: translateY(0);
        }
    }
    
    @keyframes mov1{
        0%{
            transform: translateX(0);
        }
        50%{
            transform: translateX(20px);
        }
        100%{
            transform: translateX(0);
        }
    }
}