{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pia 5 Semestre web"/>
    <link rel="shortcut icon" href="{% static 'img/icono.png' %}">
    <meta name="copyright" content="MEXICAN SOFT" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/utilidad.css' %}">

</head>
<body>
    <header class="header">
        <div class="contenedor-img-header">
            <img src="{% static 'img/fondo.jpg' %}" alt="">
        </div>

        <h1>MEXICAN SOFT</h1>
    </header>

    <main >
        <div class="flex">
            <div class="flex-1">
                <div class="contenedor-img">
                    <img src="{% static 'img/proyecto.PNG' %}" alt="">
                </div>

                <div class="contenido-flex">
                    <h3>PROYECTOS</h3>
                    <p>En este apartado se muestran todos nuestros Proyectos </p>
                    
                </div>

                <div class="contenedor-a">
                    <a href="{% url 'cliente' %}">IR</a>
                </div>
                
            
            </div>
            

            <div class="flex-1">
                <div class="contenedor-img">
                    <img src="{% static 'img/cliente2.png' %}" alt="">
                </div>

                <div class="contenido-flex">
                    <h3>CLIENTES</h3>
                    <p>En este aparatado podras encontrar nuestros mejores Clientes</p>
                    
                </div>

                <div class="contenedor-a">
                   <a href="{% url 'sucursales' %}">IR</a>
                </div>
            
            </div>

            <div class="flex-1">
                <div class="contenedor-img">
                    <img src="{% static 'img/empleado.png' %}" alt="">
                </div>

                <div class="contenido-flex">
                    <h3>EMPLEADOS</h3>
                    <p>En este aparatos podras conocer la lista de nuestros Empleados</p>
  
                </div>

                <div class="contenedor-a">
                    <a href="{% url 'empleado' %}">IR</a>
                </div>


                
            
            </div>

            <div class="flex-1">
                <div class="contenedor-img">
                   <img src="{% static 'img/sucursales.PNG' %}" alt="">
                </div>

                <div class="contenido-flex">
                    <h3>SUCURSALES</h3>
                    <p>En este apartado podras conoces la ubicacion de nuestras Sucursales</p>
                    
                </div>

                <div class="contenedor-a">
                    <a href="{% url 'proyecto' %}">IR</a>
                </div>
            
            </div>

            
            
        </div>
    </main>

    <footer class="footer">
        <p>TODOS LOS DERECHOS RESERVADOS POR GYM POWER</p>

    </footer>
</body>
</html>