<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Pia 5 Semestre web" />
  <link rel="shortcut icon" href="{% static 'img/icono.png' %}">
  <meta name="copyright" content="MEXICAN SOFT" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  {% comment %}
  <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet"> {% endcomment %}


  <link rel="stylesheet" href="{% static 'css/utilidad.css' %}">
  <link rel="stylesheet" href="{% static 'css/proyecto.css' %}">
  <title>Proyecto</title>
</head>

<body>
  <div class="titulo">
    <div class="header_nav">
      <div class="container">
        <h1> <img src="{% static 'img/icono.png' %}" alt=""> MEXICAN SOFT <span>Proyecto</span></h1>
      </div>
    </div>
  </div>
  <header>
    <nav>
      <ul>
        <a href="{% url 'index' %}">
          <div class="contenedor-nav">
            <div class="contenedor-img">
              <img src="{% static 'img/inicio.png' %}" alt="">
            </div>
            <li>Inicio</li>
          </div>
        </a>
        <a href="{% url 'cliente' %}">
          <div class="contenedor-nav">
            <div class="contenedor-img">
              <img src="{% static 'img/cliente.png' %}" alt="">
            </div>
            <li>Cliente</li>
          </div>
        </a>


        <a href="{% url 'empleado' %}">
          <div class="contenedor-nav">
            <div class="contenedor-img">
              <img src="{% static 'img/empleado2.png' %}" alt="">
            </div>
            <li>Empleados</li>
          </div>
        </a>

        <a href="{% url 'sucursales' %}">
          <div class="contenedor-nav">
            <div class="contenedor-img">
              <img src="{% static 'img/sucursal2.png' %}" alt="">
            </div>
            <li>Sucursales</li>
          </div>
        </a>






      </ul>
    </nav>
  </header>

  <main>
    <div class="contenedor-main">
      <div class="main-izq">
        <div class="contenedor">
          <div class="contenedor-img-2">
            <img src="{% static 'img/django.png' %}" alt="">
          </div>
          <div class="contenedor-txt">
            <h1>DJANGO</h1>
            <p>Es un framework de desarrollo web de código abierto, escrito en Python, que respeta el patrón de diseño conocido como modelo–vista–controlador.La meta de Django es facilitar la creación de sitios web complejos.</p>
          </div>
        </div>
        
      </div>

      <div class="main-der">
        <div class="contenedor">
          <div class="contenedor-img-2">
            <img src="{% static 'img/piton.png' %}" alt="">
          </div>
          <div class="contenedor-txt">
            <h1>PYTHON</h1>
            <p>Es un lenguaje de programación interpretado. Se trata de un lenguaje de programación multiparadigma, ya que soporta parcialmente la orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje dinámico y multiplataforma.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor-main">
      <div class="main-izq">
        <div class="contenedor">
          <div class="contenedor-img-2">
            <img src="{% static 'img/pyqt5.png' %}" alt="">
          </div>
          <div class="contenedor-txt">
            <h1>PYQT5</h1>
            <p>Es un binding de la biblioteca gráfica Qt para el lenguaje de programación Python.</p>
          </div>
        </div>
        
      </div>

      <div class="main-der">
        <div class="contenedor">
          <div class="contenedor-img-2">
            <img src="{% static 'img/javascript.jpg' %}" alt="">
          </div>
          <div class="contenedor-txt">
            <h1>JAVASCRIPT</h1>
            <p>Es un lenguaje de programación interpretado,Se utiliza principalmente del lado del cliente, implementado como parte de un navegador web permitiendo mejoras en la interfaz de usuario y páginas web dinámicas y JavaScript del lado del servidor.</p>
          </div>
        </div>
      </div>

      
    </div>

    <div class="contenedor-main">
      <div class="main-izq">
        <div class="contenedor">
          <div class="contenedor-img-2">
            <img src="{% static 'img/html.png' %}" alt="">
          </div>
          <div class="contenedor-txt">
            <h1>HTML</h1>
            <p>Hace referencia al lenguaje de marcado para la elaboración de páginas web. Es un estándar que sirve de referencia del software que conecta con la elaboración de páginas web en sus diferentes versiones, define una estructura básica y un código para la definición de contenido de una página web, como texto, imágenes, videos, juegos, entre otros.</p>
          </div>
        </div>
        
      </div>
      <div class="main-der">
        <div class="contenedor">
          <div class="contenedor-img-2">
            <img src="{% static 'img/css.jpg' %}" alt="">
          </div>
          <div class="contenedor-txt">
            <h1>CSS</h1>
            <p>Es un lenguaje de diseño gráfico para definir y crear la presentación de un documento estructurado escrito en un lenguaje de marcado.Es muy usado para establecer el diseño visual de los documentos web, e interfaces de usuario.</p>
          </div>
        </div>
      </div>

      
    </div>

    <div class="contenedor-main">
      <div class="main-izq">
        <div class="contenedor">
          <div class="contenedor-img-2">
            <img src="{% static 'img/flask.png' %}" alt="">
          </div>
          <div class="contenedor-txt">
            <h1>FLASK</h1>
            <p>Es un framework minimalista escrito en Python que permite crear aplicaciones web rápidamente y con un mínimo número de líneas de código. Está basado en la especificación WSGI de Werkzeug y el motor de templates Jinja2 y tiene una licencia BSD.</p>
          </div>
        </div>
        
      </div>

      <div class="main-der">
        <div class="contenedor">
          <div class="contenedor-img-2">
            <img src="{% static 'img/php.png' %}" alt="">
          </div>
          <div class="contenedor-txt">
            <h1>PHP</h1>
            <p>es un lenguaje de programación de uso general que se adapta especialmente al desarrollo web. El código PHP suele ser procesado en un servidor web por un intérprete PHP implementado como un módulo, un daemon o como un ejecutable de interfaz de entrada común</p>
          </div>
        </div>
      </div>
    </div>

   

  </main>

  <footer>
    <img src="{% static 'img/footer2.png' %}" alt="">
  </footer>

</body>

</html>